- host = 'https://o.remove.bg/downloads/9dc01bff-5dd2-446a-89c9-e291ec3d306e/image-removebg-preview.png'
	
.invitation
	.envelope
		.mask: .card
			.face.front
				h1
					img(src=host + 'poke-logo.svg')
					span.extrude Invitation Card
			.face.back
				img(src=host + "poke-peeps.png")
	.flap
	button Dieu Quynh